@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;
  --muted: 220 16% 96%;
  --muted-foreground: 222 14% 42%;
  --popover: 0 0% 100%;
  --popover-foreground: 222 47% 11%;
  --card: 0 0% 100%;
  --card-foreground: 222 47% 11%;
  --border: 220 13% 91%;
  --input: 220 13% 91%;

  --primary: 206 82% 39%; /* Azul principal */
  --primary-hover: 206 82% 34%; /* Azul mais escuro para hover */
  --primary-active: 206 82% 29%; /* Azul ainda mais escuro para active */
  --primary-foreground: 0 0% 100%;

  --secondary: 154 60% 51%;
  --secondary-foreground: 0 0% 100%;

  --accent: 43 96% 56%;
  --accent-foreground: 222 47% 11%;

  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;

  --ring: 206 82% 46%; /* Azul mais claro para foco */
  --radius: 0.5rem;
}
.dark {
  --background: 222 47% 11%;
  --foreground: 0 0% 98%;
  --muted: 217 16% 20%;
  --muted-foreground: 217 14% 60%;
  --popover: 222 47% 11%;
  --popover-foreground: 0 0% 98%;
  --card: 222 47% 11%;
  --card-foreground: 0 0% 98%;
  --border: 217 16% 20%;
  --input: 217 16% 20%;

  --primary: 206 82% 39%;
  --primary-hover: 206 82% 44%;
  --primary-active: 206 82% 49%;
  --primary-foreground: 0 0% 100%;

  --secondary: 154 60% 51%;
  --secondary-foreground: 0 0% 100%;

  --accent: 43 96% 56%;
  --accent-foreground: 222 47% 11%;

  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;

  --ring: 206 82% 46%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
